.grid_Container {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.turn-highlight {
  color: wheat;
}

.reset_btn {
  padding: 1rem;
  color: white;
  background-color: var(--resetGreen);
  border-radius: 5%;
  border: none;
  &:hover {
    background-color: rosybrown;
  }
}
